<!DOCTYPE html>
<html ng-app="MyApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <title></title>
    <style>
        .ng-valid.ng-dirty{
            border: solid #008000 3px;
        }
        .ng-invalid.ng-dirty{
            border:solid #ff0000 3px;
        }
    </style>
    <script>
        var app=angular.module("MyApp",[]);
        var controller=app.controller("Controller-Form",["$scope",function ($scope) {

            $scope.getCssClasses= function (ngModelController) {
                return{
                    error:ngModelController.$invalid&&ngModelController.$dirty,
                    success:ngModelController.$valid&&ngModelController.$dirty
                };
            };


            $scope.showError=function(ngModelController,error){
                return ngModelController.$error[error];
            };
            $scope.canSave=function(){
                return $scope.userInfoForm.$valid&&$scope.userInfoForm.$dirty;
            };
            $scope.oneWayData="OneWay";
            $scope.DoubleWayData="DoubleWay";

            $scope.countriesByCode = {
                'AF' : 'AFGHANISTAN',
                'AX' : 'ÅLAND ISLANDS',
                'AL' : 'ALBANIA',
                'DZ' : 'ALGERIA',
                'AS' : 'AMERICAN SAMOA',
                'AD' : 'ANDORRA',
                'AO' : 'ANGOLA',
                'AI' : 'ANGUILLA',
                'AQ' : 'ANTARCTICA',
                'AG' : 'ANTIGUA AND BARBUDA',
                'AR' : 'ARGENTINA',
                'AM' : 'ARMENIA',
                'AW' : 'ARUBA',
                'AU' : 'AUSTRALIA',
                'AT' : 'AUSTRIA',
                'AZ' : 'AZERBAIJAN',
                'BS' : 'BAHAMAS',
                'BH' : 'BAHRAIN',
                'BD' : 'BANGLADESH',
                'BB' : 'BARBADOS',
                'BY' : 'BELARUS',
                'BE' : 'BELGIUM',
                'BZ' : 'BELIZE',
                'BJ' : 'BENIN',
                'BM' : 'BERMUDA'
            };

        }]);

    </script>
</head>
<body ng-controller="Controller-Form">
<div class="container">


<h1>Example-1</h1>
<form name="userInfoForm">
    <div class="control-group" ng-class="getCssClasses(userInfoForm.email)">
        <label>E-maill</label>
        <input type="email" ng-model="user.email" name="email" required>
        <span ng-show="showError(userInfoForm.email,'email')">
            You must enter a valid email
        </span>
          <span ng-show="showError(userInfoForm.email,'required')">
            This field is required
        </span>

    </div>
    <button ng-disabled="!canSave()">Save</button>
</form>



</div>




<h1>Example-2</h1>
<div class="container">

<h1>User Info</h1>
<label>E-mail</label>
<input type="email" ng-model="user.email">

<label>Last name</label>
<input type="text" ng-model="user.lastName">
<label>First name</label>
<input type="text" ng-model="user.firstName">
<label>WebSite</label>
<input type="url" ng-model="user.website">
<label>Description</label>
<textarea ng-model="user.description"></textarea>

<label>Password</label>
<input type="password" ng-model="user.password">

<label>Password (Repeat)</label>
<input type="password" ng-model="user.repeatPassword" ng-minlength="3" ng-maxlength="10" ng-pattern="/^.*(?=.*\d)(?=.*[a-zA-Z]).*$/">

<label>Roles</label>
<label class="checkbox">
    <input type="checkbox" ng-model="user.admin">Is Admin
</label>
<label>Sex</label>
    <input type="radio" ng-model="user.sex" value="male">Male
    <input type="radio" ng-model="user.sex" value="female">Female
<br>
    <label>Select a country code by country name, ordered by country code</label>

    <select ng-model="chosenCountryCode" ng-options="code as name for (code, name) in countriesByCode"></select>
    Selected Country Code: {{ chosenCountryCode }}

<pre ng-bind="user|json"></pre>



</div>


<div class="container" ng-controller="Controller-Form">
    <input type="text" ng-bind="oneWayData">
    <div>Hello {{oneWayData}}</div>
    <div>Hello <input ng-model="DoubleWayData"></div>
    <div>Hello {{DoubleWayData}}</div>
</div>
</body>
</html>