<!DOCTYPE html>
<html ng-app="MyApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <title>Factory-service-provider</title>
    <script>
        var app=angular.module('MyApp',[]);
        app.factory('myFactory', function ($http,$q) {
            var service={};
            var baseUrl="https://itunes.apple.com/search?term=";
            var _artist='';
            var _finalUrl='';
            var makeUrl= function () {
                _artist=_artist.split(' ').join('+');
                _finalUrl=baseUrl+_artist+'&callback=JSON_CALLBACK';
                return _finalUrl;
            };
            service.setArtist=function(artist){
                _artist=artist;
            };
            service.getArtist=function(){
                return _artist;
            };

            service.callItunes=function(){
                makeUrl();
                var deferred=$q.defer();
                $http({
                    method:'JSONP',
                    url:_finalUrl
                }).success(function(data){
                    deferred.resolve(data);
                }).error(function(){
                    deferred.reject('There was an error');
                });
                return deferred.promise;
            };

            return service;
        });
        app.controller('myFactoryCtrl', function ($scope,myFactory) {
            $scope.data={};
            $scope.updateArtist= function () {
                myFactory.setArtist($scope.artist);
            };

            $scope.SubmitArtist=function(){
                $scope.updateArtist();
                myFactory.callItunes().then(function(data){
                    $scope.data.artistData=data;
                },function(data){
                    alert(data);
                });

            }

        });



    </script>
</head>
<body>


<div ng-controller="myFactoryCtrl">

    <input type="text" ng-model="artist">
    <button type="button" ng-click="SubmitArtist()">Submit</button>
{{data}}
</div>



</body>
</html>