<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <script src="../../bower_components/angular/angular.js"></script>
    <title></title>
    <script>
        var app=angular.module('myApp',[]);
        app.directive('myWelcomeDirective', function () {
            return {
                scope: {
                    clickme:'&'
                },
                template: '<button ng-click="clickme()">ClickMe</button>'
            };
        });

        app.directive("sideBar",function(){
            return{
                restrict:'A',
                scope:{
                    title:'@'
                },
                transclude:true,
                template:'<div class="sideNav">\
                <div class="content">\
                <h2 class="header">{{title}}</h2>\
                <span class="content" ng-transclude></span>\
                </div></div>'
            };
        });

        app.directive("addMySite",function(){
            return{
                restrict:'EA',
                transclude: true,
                controller:function($scope,$element,$attrs,$transclude){
                    $transclude(function(clone){
                        var a=angular.element('<a>');
                        a.attr('href',clone.text());
                        a.text($attrs.title+clone.text());
                        $element.append(a);
                    });
                }
            }
        });







        app.controller('directiveExample', ['$scope','$log', function ($scope,$log) {
            $scope.myInfo = {
                name: 'mike',
                url: 'jsmean.com.'
            };
            $scope.click=function(){
                $log.info("Directive 触发了这个log记录")
            }
        }]);
    </script>

</head>
<body>
<div ng-controller="directiveExample">
    <input type="text" ng-model="myInfo.name">
    <div my-welcome-directive name="myInfo.name" clickme="click()"></div>


    <div sidebox title="TagCloud">
        ￼<div class="tagcloud">
            <a href="">Mike</a>
            <a href="">has</a>
            <a href="">many</a>
            <a href="">Friend</a>
            <a href="">!</a>
    ￼￼  </div>
    </div>

    <div add-my-site title="Mike has a website:">
        http://www.jsmean.com
    </div>


    <div sidebox title="AnotherNavbar">
        ￼<div class="NavBar">
        <a href="">Mike</a>
        <a href="">is</a>
        <a href="">Your</a>
        <a href="">Friend</a>
        <a href="">!</a>
        ￼￼  </div>
    </div>




</div>
</body>
</html>