<!DOCTYPE html>
<html ng-app="MyApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <title></title>
    <script>
        var app=angular.module("MyApp",[]);
        app.controller("MyController", function ($scope,$parse,$interpolate) {
            $scope.$watch('expr', function (newVal,oldVal,scope) {
                if(newVal!==oldVal){
                    var parseFun=$parse(newVal);
                    $scope.parseValue=parseFun(scope);
                }
            });
            $scope.$watch('emailBody', function (body) {
                if(body){
                    var template=$interpolate(body);
                    $scope.previewText=template({to:$scope.to});
                }
            })

        });
    </script>
</head>
<body>
<div class="container" ng-controller="MyController">
<input ng-model="expr" type="text" placeholder="Enter an expression">
    <h2>{{parseValue}}</h2>
<input ng-model="to" type="email" placeholder="Recipient">
    <textarea ng-model="emailBody"></textarea>
    <pre>{{previewText}}</pre>
</div>
</body>
</html>